@import "tailwindcss";
@import "@heroui/styles"; 

.swiper-button-next,
.swiper-button-prev {
  color: #ef4444 !important;
  transition: 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #dc2626 !important;
  transform: scale(1.15);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: bold;
}